bin/
.classpath
.project
*.iml
*.eml
.idea
.settings
res/trainingInput.txt
res/trainingOutput.txt
res/error.txt
res/current/captcha.gif
res/current/final-captcha.bmp
res/current/letters/*.bmp
res/redeNeural.mlp
res/validationInput.txt
res/validationOutput.txt